theme_name=Art Book Next
creator=Ant

# Main Menu

main_menu_view=gallery
main_menu_names=on
main_menu_logos=on
main_menu_fit=native

# Game List

gamelist_view=list

# Global

font=Mulish-Medium

accent=444444
color_bg=111111
color_text=ffffff
color_label=aaaaaa
color_popup=222222
color_shelf=333333

pill_style=soft
button_style=rounded
boxart_radius=soft

pill_color=55555590/55555585
pill_border_color=55555590
pill_border_width=1

button_color=555555

hint_pill_menu=on
hint_pill_color=111111